In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

ModuleNotFoundError: No module named 'matplotlib'

In [2]:
df=pd.read_csv('Match Winner.csv')
df

,Season,MatchDate,HomeTeam,AwayTeam,FullTimeHomeGoals,FullTimeAwayGoals,FullTimeResult,HalfTimeHomeGoals,HalfTimeAwayGoals,HalfTimeResult,...,HomeShotsOnTarget,AwayShotsOnTarget,HomeCorners,AwayCorners,HomeFouls,AwayFouls,HomeYellowCards,AwayYellowCards,HomeRedCards,AwayRedCards
0,2000/01,2000-08-19,Charlton,Man City,4,0,H,2,0,H,...,14,4,6,6,13,12,1,2,0,0
1,2000/01,2000-08-19,Chelsea,West Ham,4,2,H,1,0,H,...,10,5,7,7,19,14,1,2,0,0
2,2000/01,2000-08-19,Coventry,Middlesbrough,1,3,A,1,1,D,...,3,9,8,4,15,21,5,3,1,0
3,2000/01,2000-08-19,Derby,Southampton,2,2,D,1,2,A,...,4,6,5,8,11,13,1,1,0,0
4,2000/01,2000-08-19,Leeds,Everton,2,0,H,2,0,H,...,8,6,6,4,21,20,1,3,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9375,2024/25,2025-05-04,Brentford,Man United,4,3,H,2,1,H,...,6,5,7,4,8,10,0,2,0,0
9376,2024/25,2025-05-04,Brighton,Newcastle,1,1,D,1,0,H,...,2,5,1,4,15,10,2,1,0,0
9377,2024/25,2025-05-04,West Ham,Tottenham,1,1,D,1,1,D,...,2,2,1,3,18,15,2,2,0,0
9378,2024/25,2025-05-04,Chelsea,Liverpool,3,1,H,1,0,H,...,7,2,3,6,10,11,2,2,0,0
9379,2024/25,2025-05-05,Crystal Palace,Nott'm Forest,1,1,D,0,0,D,...,3,4,7,4,9,15,3,8,0,0

In [3]:
df=df.drop(columns=['Season','MatchDate','HalfTimeHomeGoals','HalfTimeAwayGoals','HalfTimeResult'])

In [4]:
print(df.columns)

Index(['HomeTeam', 'AwayTeam', 'FullTimeHomeGoals', 'FullTimeAwayGoals',
       'FullTimeResult', 'HomeShots', 'AwayShots', 'HomeShotsOnTarget',
       'AwayShotsOnTarget', 'HomeCorners', 'AwayCorners', 'HomeFouls',
       'AwayFouls', 'HomeYellowCards', 'AwayYellowCards', 'HomeRedCards',
       'AwayRedCards'],
      dtype='object')

In [5]:
df.duplicated().sum()

np.int64(0)

In [6]:
df.isnull().sum()

HomeTeam             0
AwayTeam             0
FullTimeHomeGoals    0
FullTimeAwayGoals    0
FullTimeResult       0
HomeShots            0
AwayShots            0
HomeShotsOnTarget    0
AwayShotsOnTarget    0
HomeCorners          0
AwayCorners          0
HomeFouls            0
AwayFouls            0
HomeYellowCards      0
AwayYellowCards      0
HomeRedCards         0
AwayRedCards         0
dtype: int64

In [8]:
import pandas as pd
df = pd.read_csv("Match Winner.csv")
df = df[['HomeTeam', 'AwayTeam', 'FullTimeHomeGoals', 'FullTimeAwayGoals',
       'FullTimeResult', 'HomeShots', 'AwayShots', 'HomeShotsOnTarget',
       'AwayShotsOnTarget', 'HomeCorners', 'AwayCorners', 'HomeFouls',
       'AwayFouls', 'HomeYellowCards', 'AwayYellowCards', 'HomeRedCards',
       'AwayRedCards']]
df.to_csv("cleaned_dataset for match winner.csv",index=False)

In [9]:
import pandas as pd
file_path="cleaned_dataset for match winner.csv"
df=pd.read_csv(file_path)
categorical_cols=df.select_dtypes(include=['object']).columns
print("Categorical Columns",categorical_cols.tolist())

Categorical Columns ['HomeTeam', 'AwayTeam', 'FullTimeResult']

In [11]:
from sklearn.preprocessing import LabelEncoder
df_label=df.copy()
le=LabelEncoder()
for col in categorical_cols:
    df_label[col]=le.fit_transform(df_label[col])
print("label encoded dataset(5 rows):")
print(df_label.head())

label encoded dataset(5 rows):
   HomeTeam  AwayTeam  FullTimeHomeGoals  FullTimeAwayGoals  FullTimeResult  \
0        12        26                  4                  0               2
1        13        43                  4                  2               2
2        14        28                  1                  3               0
3        16        36                  2                  2               1
4        22        17                  2                  0               2

   HomeShots  AwayShots  HomeShotsOnTarget  AwayShotsOnTarget  HomeCorners  \
0         17          8                 14                  4            6
1         17         12                 10                  5            7
2          6         16                  3                  9            8
3          6         13                  4                  6            5
4         17         12                  8                  6            6

   AwayCorners  HomeFouls  AwayFouls  HomeYellowCards  AwayYellowCards  \
0            6         13         12                1                2
1            7         19         14                1                2
2            4         15         21                5                3
3            8         11         13                1                1
4            4         21         20                1                3

   HomeRedCards  AwayRedCards
0             0             0
1             0             0
2             1             0
3             0             0
4             0             0

In [12]:
df_label.to_csv("label encoded dataset match winner.csv",index=False)

In [13]:
import pandas as pd
df=pd.read_csv("cleaned_dataset for match winner.csv")
df_onehot=pd.get_dummies(df,columns=['HomeTeam','AwayTeam','FullTimeResult'])
print("One hot encoded dataset(5 rows):")
print(df_onehot.head())

One hot encoded dataset(5 rows):
   FullTimeHomeGoals  FullTimeAwayGoals  HomeShots  AwayShots  \
0                  4                  0         17          8
1                  4                  2         17         12
2                  1                  3          6         16
3                  2                  2          6         13
4                  2                  0         17         12

   HomeShotsOnTarget  AwayShotsOnTarget  HomeCorners  AwayCorners  HomeFouls  \
0                 14                  4            6            6         13
1                 10                  5            7            7         19
2                  3                  9            8            4         15
3                  4                  6            5            8         11
4                  8                  6            6            4         21

   AwayFouls  ...  AwayTeam_Swansea  AwayTeam_Tottenham  AwayTeam_Watford  \
0         12  ...             False               False             False
1         14  ...             False               False             False
2         21  ...             False               False             False
3         13  ...             False               False             False
4         20  ...             False               False             False

   AwayTeam_West Brom  AwayTeam_West Ham  AwayTeam_Wigan  AwayTeam_Wolves  \
0               False              False           False            False
1               False               True           False            False
2               False              False           False            False
3               False              False           False            False
4               False              False           False            False

   FullTimeResult_A  FullTimeResult_D  FullTimeResult_H
0             False             False              True
1             False             False              True
2              True             False             False
3             False              True             False
4             False             False              True

[5 rows x 109 columns]

In [14]:
df_onehot.to_csv("one hot encoded dataset match winner.csv",index=False)

In [16]:
df = df.drop(columns=['Season', 'MatchDate', 'HalfTimeHomeGoals', 'HalfTimeAwayGoals', 'HalfTimeResult'])

In [17]:
print(df)

            HomeTeam       AwayTeam  FullTimeHomeGoals  FullTimeAwayGoals  \
0           Charlton       Man City                  4                  0
1            Chelsea       West Ham                  4                  2
2           Coventry  Middlesbrough                  1                  3
3              Derby    Southampton                  2                  2
4              Leeds        Everton                  2                  0
...              ...            ...                ...                ...
9375       Brentford     Man United                  4                  3
9376        Brighton      Newcastle                  1                  1
9377        West Ham      Tottenham                  1                  1
9378         Chelsea      Liverpool                  3                  1
9379  Crystal Palace  Nott'm Forest                  1                  1

     FullTimeResult  HomeShots  AwayShots  HomeShotsOnTarget  \
0                 H         17          8                 14
1                 H         17         12                 10
2                 A          6         16                  3
3                 D          6         13                  4
4                 H         17         12                  8
...             ...        ...        ...                ...
9375              H         12         14                  6
9376              D          5         13                  2
9377              D         11          7                  2
9378              H         17         11                  7
9379              D         20         12                  3

      AwayShotsOnTarget  HomeCorners  AwayCorners  HomeFouls  AwayFouls  \
0                     4            6            6         13         12
1                     5            7            7         19         14
2                     9            8            4         15         21
3                     6            5            8         11         13
4                     6            6            4         21         20
...                 ...          ...          ...        ...        ...
9375                  5            7            4          8         10
9376                  5            1            4         15         10
9377                  2            1            3         18         15
9378                  2            3            6         10         11
9379                  4            7            4          9         15

      HomeYellowCards  AwayYellowCards  HomeRedCards  AwayRedCards
0                   1                2             0             0
1                   1                2             0             0
2                   5                3             1             0
3                   1                1             0             0
4                   1                3             0             0
...               ...              ...           ...           ...
9375                0                2             0             0
9376                2                1             0             0
9377                2                2             0             0
9378                2                2             0             0
9379                3                8             0             0

[9380 rows x 17 columns]

In [23]:
from IPython.display import display
display(df)

,HomeTeam,AwayTeam,FullTimeHomeGoals,FullTimeAwayGoals,FullTimeResult,HomeShots,AwayShots,HomeShotsOnTarget,AwayShotsOnTarget,HomeCorners,AwayCorners,HomeFouls,AwayFouls,HomeYellowCards,AwayYellowCards,HomeRedCards,AwayRedCards
0,Charlton,Man City,4,0,H,17,8,14,4,6,6,13,12,1,2,0,0
1,Chelsea,West Ham,4,2,H,17,12,10,5,7,7,19,14,1,2,0,0
2,Coventry,Middlesbrough,1,3,A,6,16,3,9,8,4,15,21,5,3,1,0
3,Derby,Southampton,2,2,D,6,13,4,6,5,8,11,13,1,1,0,0
4,Leeds,Everton,2,0,H,17,12,8,6,6,4,21,20,1,3,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9375,Brentford,Man United,4,3,H,12,14,6,5,7,4,8,10,0,2,0,0
9376,Brighton,Newcastle,1,1,D,5,13,2,5,1,4,15,10,2,1,0,0
9377,West Ham,Tottenham,1,1,D,11,7,2,2,1,3,18,15,2,2,0,0
9378,Chelsea,Liverpool,3,1,H,17,11,7,2,3,6,10,11,2,2,0,0
9379,Crystal Palace,Nott'm Forest,1,1,D,20,12,3,4,7,4,9,15,3,8,0,0