# Cleaning Points.csv
In this notebook, the dataset Points.csv has been cleaned to prepare it for predicting overall points. The target variable is 'Points'.

### Loading the dataset

In [9]:
import pandas as pd

In [10]:
df = pd.read_csv("../Points.csv")

### Dropping unnecessary columns

We will only keep the relevant columns: <br>
position <br>
gf <br>
ga <br>
gd <br>
points <br>

In [11]:
print(df.columns)

Index(['season_end_year', 'team', 'position', 'played', 'won', 'drawn', 'lost',
       'gf', 'ga', 'gd', 'points', 'notes'],
      dtype='object')

In [12]:
df = df.drop(['season_end_year', 'played', 'won', 'drawn', 'lost', 'notes'], axis = 1)

In [13]:
print(df.columns)

Index(['team', 'position', 'gf', 'ga', 'gd', 'points'], dtype='object')

### Check for null values

In [14]:
print(df.isnull().sum())

team        0
position    0
gf          0
ga          0
gd          0
points      0
dtype: int64

### Check for duplicate values

In [15]:
print(df.duplicated().sum())

0

### Final dataset overview

In [16]:
print("Final shape of dataset:", df.shape)
df.head()

Final shape of dataset: (646, 6)

             team  position  gf  ga  gd  points
0  Manchester Utd         1  67  31  36      84
1     Aston Villa         2  57  40  17      74
2    Norwich City         3  61  65  -4      72
3       Blackburn         4  68  46  22      71
4             QPR         5  63  55   8      63

### Saving the cleaned dataset

In [17]:
df.to_csv("../Points_cleaned.csv", index = False)