In [131]:
# Import necessary libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder

In [132]:
# Load the dataset from Excel file
df = pd.read_excel("Top_Goals_Excel.xlsx")

In [133]:
# Display the first 5 rows of the dataset to get an overview
df.head()

,Season,Rank,Player,Club,Goals,IsTop10,Position,Age,Appearances,Goals_prev_season,Assists,Penalty_Goals,Non-Penalty_Goals,Goals_per_90,Big_6_Club_Feature,Club_League_Rank,Club_Total_Goals,League_Goals_per_Match,Games_in_Season
0,2023-24,1,Erling Haaland,Manchester City,27,1,Forward,23,31,36.0,6.0,1.0,26,0.85,1.0,1,96,2.83,38.0
1,2023-24,2,Cole Palmer,Chelsea,22,1,Attacking Midfielder,22,33,3.0,11.0,9.0,13,0.61,1.0,6,77,2.83,38.0
2,2023-24,3,Alexander Isak,Newcastle United,21,1,Forward,24,30,10.0,2.0,5.0,16,0.76,0.0,7,85,2.83,38.0
3,2023-24,4,Ollie Watkins,Aston Villa,19,1,Forward,28,37,15.0,13.0,0.0,19,0.51,0.0,4,76,2.83,38.0
4,2023-24,4,Dominic Solanke,AFC Bournemouth,19,1,Forward,26,38,6.0,3.0,1.0,18,0.50,0.0,12,54,2.83,38.0

In [134]:
# Save the dataset to a CSV file (backup in CSV format without index column)
df.to_csv("Top_Goals_CSV.csv", index=False)

In [135]:
# Print all column names before cleaning
print(df.columns)

Index(['Season', 'Rank', 'Player', 'Club', 'Goals', 'IsTop10', 'Position',
       'Age', 'Appearances', 'Goals_prev_season', 'Assists', 'Penalty_Goals',
       'Non-Penalty_Goals', 'Goals_per_90', 'Big_6_Club_Feature',
       'Club_League_Rank', 'Club_Total_Goals', 'League_Goals_per_Match',
       'Games_in_Season'],
      dtype='object')

In [136]:
# Drop unnecessary or irrelevant columns that are not useful for analysis
df=df.drop(['Season', 'Rank', 'Player', 'Club','IsTop10','Club_League_Rank', 'Club_Total_Goals','Games_in_Season'],axis=1)

In [137]:
# Print remaining column names after dropping
print(df.columns)

Index(['Goals', 'Position', 'Age', 'Appearances', 'Goals_prev_season',
       'Assists', 'Penalty_Goals', 'Non-Penalty_Goals', 'Goals_per_90',
       'Big_6_Club_Feature', 'League_Goals_per_Match'],
      dtype='object')

In [138]:
#Display first 5 rows after dropping columns
df.head()

,Goals,Position,Age,Appearances,Goals_prev_season,Assists,Penalty_Goals,Non-Penalty_Goals,Goals_per_90,Big_6_Club_Feature,League_Goals_per_Match
0,27,Forward,23,31,36.0,6.0,1.0,26,0.85,1.0,2.83
1,22,Attacking Midfielder,22,33,3.0,11.0,9.0,13,0.61,1.0,2.83
2,21,Forward,24,30,10.0,2.0,5.0,16,0.76,0.0,2.83
3,19,Forward,28,37,15.0,13.0,0.0,19,0.51,0.0,2.83
4,19,Forward,26,38,6.0,3.0,1.0,18,0.50,0.0,2.83

In [139]:
# Check for missing (NaN) values in each column
print(df.isnull().sum())

Goals                       0
Position                    0
Age                         0
Appearances                 0
Goals_prev_season         115
Assists                   228
Penalty_Goals               1
Non-Penalty_Goals           0
Goals_per_90                0
Big_6_Club_Feature          0
League_Goals_per_Match      0
dtype: int64

In [140]:
# Check how many duplicate rows are present
print(df.duplicated().sum())

0

In [141]:
# Fill missing values in specific columns with default values:
# - "Goals_prev_season" → replace NaN with 0
# - "Assists" → replace NaN with 0
# - "Penalty_Goals" → replace NaN with 0
df.fillna({
    "Goals_prev_season": 0,
    "Assists": 0,
    "Penalty_Goals": 0
}, inplace=True)

In [142]:
# Remove duplicate rows to avoid redundancy
df = df.drop_duplicates()

In [143]:
# Re-check for missing values after cleaning
print(df.isnull().sum())

Goals                     0
Position                  0
Age                       0
Appearances               0
Goals_prev_season         0
Assists                   0
Penalty_Goals             0
Non-Penalty_Goals         0
Goals_per_90              0
Big_6_Club_Feature        0
League_Goals_per_Match    0
dtype: int64

In [144]:
# Re-check for duplicate rows after cleaning
print(df.duplicated().sum())

0

In [145]:
# Save the cleaned dataset into a new CSV file
df.to_csv("cleaned_Top_Goals.csv", index=False)

In [146]:
#Load the cleaned dataset
df = pd.read_csv("cleaned_Top_Goals.csv")

In [147]:
#Display Cleaned Dataset
df

,Goals,Position,Age,Appearances,Goals_prev_season,Assists,Penalty_Goals,Non-Penalty_Goals,Goals_per_90,Big_6_Club_Feature,League_Goals_per_Match
0,27,Forward,23,31,36.0,6.0,1.0,26,0.85,1.0,2.83
1,22,Attacking Midfielder,22,33,3.0,11.0,9.0,13,0.61,1.0,2.83
2,21,Forward,24,30,10.0,2.0,5.0,16,0.76,0.0,2.83
3,19,Forward,28,37,15.0,13.0,0.0,19,0.51,0.0,2.83
4,19,Forward,26,38,6.0,3.0,1.0,18,0.50,0.0,2.83
...,...,...,...,...,...,...,...,...,...,...,...
319,15,Forward,25,41,0.0,0.0,0.0,15,0.37,0.0,2.58
320,15,Forward,29,36,0.0,0.0,0.0,15,0.42,1.0,2.58
321,15,Attacking Midfielder,24,40,0.0,0.0,0.0,15,0.38,0.0,2.58
322,15,Forward,23,42,0.0,0.0,0.0,15,0.36,0.0,2.58
323,15,Forward,29,34,0.0,0.0,0.0,15,0.44,1.0,2.58

In [148]:
df.columns

Index(['Goals', 'Position', 'Age', 'Appearances', 'Goals_prev_season',
       'Assists', 'Penalty_Goals', 'Non-Penalty_Goals', 'Goals_per_90',
       'Big_6_Club_Feature', 'League_Goals_per_Match'],
      dtype='object')

In [149]:
#One-Hot Encoding
# Now we apply One-Hot Encoding directly on the 'Position' column.
# This will create new binary columns for each unique position, for example:
# - Pos_Forward
# - Pos_Midfielder
# - Pos_Winger
# - Pos_Attacking Midfielder

# Example:
# If Position = 'Forward' → Pos_Forward = 1, others = 0
# If Position = 'Winger' → Pos_Winger = 1, others = 0

df = pd.get_dummies(df, columns=['Position'], prefix='Pos', dtype=int)

# After this, the single 'Position' column will be replaced by multiple one-hot columns (Pos_Forward, Pos_Midfielder, etc.)
print(df.head())

   Goals  Age  Appearances  Goals_prev_season  Assists  Penalty_Goals  \
0     27   23           31               36.0      6.0            1.0
1     22   22           33                3.0     11.0            9.0
2     21   24           30               10.0      2.0            5.0
3     19   28           37               15.0     13.0            0.0
4     19   26           38                6.0      3.0            1.0

   Non-Penalty_Goals  Goals_per_90  Big_6_Club_Feature  \
0                 26          0.85                 1.0
1                 13          0.61                 1.0
2                 16          0.76                 0.0
3                 19          0.51                 0.0
4                 18          0.50                 0.0

   League_Goals_per_Match  Pos_Attacking Midfielder  Pos_Forward  \
0                    2.83                         0            1
1                    2.83                         1            0
2                    2.83                         0            1
3                    2.83                         0            1
4                    2.83                         0            1

   Pos_Midfielder  Pos_Winger
0               0           0
1               0           0
2               0           0
3               0           0
4               0           0

In [150]:
#Display dataset after One-hot Encoding
df

,Goals,Age,Appearances,Goals_prev_season,Assists,Penalty_Goals,Non-Penalty_Goals,Goals_per_90,Big_6_Club_Feature,League_Goals_per_Match,Pos_Attacking Midfielder,Pos_Forward,Pos_Midfielder,Pos_Winger
0,27,23,31,36.0,6.0,1.0,26,0.85,1.0,2.83,0,1,0,0
1,22,22,33,3.0,11.0,9.0,13,0.61,1.0,2.83,1,0,0,0
2,21,24,30,10.0,2.0,5.0,16,0.76,0.0,2.83,0,1,0,0
3,19,28,37,15.0,13.0,0.0,19,0.51,0.0,2.83,0,1,0,0
4,19,26,38,6.0,3.0,1.0,18,0.50,0.0,2.83,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
319,15,25,41,0.0,0.0,0.0,15,0.37,0.0,2.58,0,1,0,0
320,15,29,36,0.0,0.0,0.0,15,0.42,1.0,2.58,0,1,0,0
321,15,24,40,0.0,0.0,0.0,15,0.38,0.0,2.58,1,0,0,0
322,15,23,42,0.0,0.0,0.0,15,0.36,0.0,2.58,0,1,0,0
323,15,29,34,0.0,0.0,0.0,15,0.44,1.0,2.58,0,1,0,0