In [100]:
# Import necessary libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [101]:
# Load the dataset from Excel file
df = pd.read_excel("Top_Goals_Excel".xlsx)

AttributeError: 'str' object has no attribute 'xlsx'

In [102]:
# Display the first 5 rows of the dataset to get an overview
df.head()

,Goals,Position,Age,Appearances,Goals_prev_season,Assists,Penalty_Goals,Non-Penalty_Goals,Goals_per_90,Big_6_Club_Feature,League_Goals_per_Match
0,27,Forward,23,31,36.0,6.0,1.0,26,0.85,1.0,2.83
1,22,Attacking Midfielder,22,33,3.0,11.0,9.0,13,0.61,1.0,2.83
2,21,Forward,24,30,10.0,2.0,5.0,16,0.76,0.0,2.83
3,19,Forward,28,37,15.0,13.0,0.0,19,0.51,0.0,2.83
4,19,Forward,26,38,6.0,3.0,1.0,18,0.50,0.0,2.83

In [44]:
# Save the dataset to a CSV file (backup in CSV format without index column)
df.to_csv("Top Goals.csv", index=False)

In [45]:
# Print all column names before cleaning
print(df.columns)

Index(['Season', 'Rank', 'Player', 'Club', 'Goals', 'IsTop10', 'Position',
       'Age', 'Appearances', 'Goals_prev_season', 'Assists', 'Penalty_Goals',
       'Non-Penalty_Goals', 'Goals_per_90', 'Big_6_Club_Feature',
       'Club_League_Rank', 'Club_Total_Goals', 'League_Goals_per_Match',
       'Games_in_Season'],
      dtype='object')

In [46]:
# Drop unnecessary or irrelevant columns that are not useful for analysis
df=df.drop(['Season', 'Rank', 'Player', 'Club','IsTop10','Club_League_Rank', 'Club_Total_Goals','Games_in_Season'],axis=1)

In [47]:
# Print remaining column names after dropping
print(df.columns)

Index(['Goals', 'Position', 'Age', 'Appearances', 'Goals_prev_season',
       'Assists', 'Penalty_Goals', 'Non-Penalty_Goals', 'Goals_per_90',
       'Big_6_Club_Feature', 'League_Goals_per_Match'],
      dtype='object')

In [48]:
#Display first 5 rows after dropping columns
df.head()

,Goals,Position,Age,Appearances,Goals_prev_season,Assists,Penalty_Goals,Non-Penalty_Goals,Goals_per_90,Big_6_Club_Feature,League_Goals_per_Match
0,27,Forward,23,31,36.0,6.0,1.0,26,0.85,1.0,2.83
1,22,Attacking Midfielder,22,33,3.0,11.0,9.0,13,0.61,1.0,2.83
2,21,Forward,24,30,10.0,2.0,5.0,16,0.76,0.0,2.83
3,19,Forward,28,37,15.0,13.0,0.0,19,0.51,0.0,2.83
4,19,Forward,26,38,6.0,3.0,1.0,18,0.50,0.0,2.83

In [49]:
# Check for missing (NaN) values in each column
print(df.isnull().sum())

Goals                       0
Position                    0
Age                         0
Appearances                 0
Goals_prev_season         115
Assists                   228
Penalty_Goals               1
Non-Penalty_Goals           0
Goals_per_90                0
Big_6_Club_Feature          0
League_Goals_per_Match      0
dtype: int64

In [50]:
# Check how many duplicate rows are present
print(df.duplicated().sum())

0

In [51]:
# Fill missing values in specific columns with default values:
# - "Goals_prev_season" → replace NaN with 0
# - "Assists" → replace NaN with 0
# - "Penalty_Goals" → replace NaN with 0
df.fillna({
    "Goals_prev_season": 0,
    "Assists": 0,
    "Penalty_Goals": 0
}, inplace=True)

In [52]:
# Remove duplicate rows to avoid redundancy
df = df.drop_duplicates()

In [53]:
# Re-check for missing values after cleaning
print(df.isnull().sum())

Goals                     0
Position                  0
Age                       0
Appearances               0
Goals_prev_season         0
Assists                   0
Penalty_Goals             0
Non-Penalty_Goals         0
Goals_per_90              0
Big_6_Club_Feature        0
League_Goals_per_Match    0
dtype: int64

In [54]:
# Re-check for duplicate rows after cleaning
print(df.duplicated().sum())

0

In [55]:
# Save the cleaned dataset into a new CSV file
df.to_csv("cleaned_Top_Goals.csv", index=False)